body {
    background: #018901 url("../img/pattern.png");
    font-family: Verdana, serif;
}

header, main, footer {
    width: 800px;
}

header {
    border: 2px solid white;
    text-align: center;
    color: white;
    background-color: #013300;
    border-radius: 15px;
    margin-bottom: 20px;

}

main {
    background-color: white;
    border-radius: 15px;
}

footer {
    border-top: 2px dotted #dc1102;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #013300;
    color: white;
}

h1 {
    font-weight: 100;
}

h2 {
    text-align: center;
}

img {
    background-color: #88ff89;
    border: 2px solid green;
    border-radius: 75px;
    width: 150px;
    height: 150px;
}

.manager {
    text-align: center;
    color: #0000ff;
    font-weight: bold;
    width: 150px;
    display: inline-block;
}


cite {
    color: #0000ff;
    font-style: inherit;
}

p.text-blockquote {
    background-color: #88ff89;
    text-align: justify;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    letter-spacing: 2px;
}

blockquote.top-blockquote {
    text-align: right;
    font-size: 12px;
}

p.bold-center {
    text-align: center;
    font-weight: bold;
}

p.spacing {
    letter-spacing: 2px;
}

q {
    color: #fc0000;
    font-weight: bold;
    font-style: italic;
}
q.another-quotes{
    quotes: "\201c" "\201d";
    color: black;
}